@import "global.css";
@import "variables.css";


nav{
    width: 100%;
    display: flex;
    padding: 10px 20px;
    justify-content: right;
    background-color: var(--color-primary) ;
    color: white;
    align-items: center;
    font-size: 1.3rem;
    gap:30px;
}

.btn-sair{
   width: 100px; 
   height: 35px;
   background-color: #605454d9;
   border: 1px solid  #1c0c0c3a;
   border-radius: 4px;
}
.btn-sair:hover{
    background-color: #694e4e3a;
}

/* Formulario */

.container-form-tasks{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;

}

.container-form-tasks .form_task{
    width: 500px;
}

.container-form-tasks .form_task .form-group{
    display: flex;
    flex-wrap: wrap;
}

.container-form-tasks .form_task .form-group .form-dt{
    width: 240px;   
}

.container-form-tasks .form_task .form-group .dt-right{
    margin-right: 20px;
}

.container-tasks{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;

}

.table{
    width: 80%;

}

.table tr th{
    background-color: var(--color-primary) ;
    color: #fff;
}

.table tr{
    cursor: pointer;
    z-index: 1;
}

#btn-criar-tarefa{
    opacity: 1;
    pointer-events: all;

}

.show{
    opacity: 1;
    pointer-events: all;
}

#btn-criar-tarefa.hide-criar-tarefa{
    opacity: 0;
    pointer-events: none;
}

.btn-criar-tarefa{
    background-color: var(--color-primary) ;
    padding: 8px;
    color: white;
    border:none;
    border-radius: 6px;
}

.btn-criar-tarefa:hover{
    background-color: #640a0aa0;
}

/* Modal */

.title{
    margin-bottom: 1rem;
    font-weight: 700;
}
.btn-modal{
    padding: .6rem 1.2rem;
    background-color: var(--color-primary) ;
    color: #fff;
    border:none;
    border-radius:  .25rem;
    cursor: pointer;
    opacity: 0.8;
    font-size: 1rem;
    transition: 0.4s;
}

.btn-modal:hover{
    opacity: 1;
}

#fade, #modal{
    transition: .5s;
    opacity: 1;
    pointer-events: all;
}

#fade{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    z-index: 5;
}

#modal{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: #fff;
    max-width: 90%;
    padding: 1.2rem;
    border-radius: 0.3rem;
    min-width: 300px;
}
.modal-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}
.modal-body{
    border-bottom: 1px solid #ccc;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}
.modal-button{
    display: flex;
    justify-content: right;
    
}
#modal.hide, #fade.hide{
    opacity: 0;
    pointer-events: none;
}

#modal.hide{
    top:0;
}


/* Alterar tarefa */
.container-buttons-alterar.hide-buttons{
    opacity: 0;
    pointer-events: none;
}

.container-buttons-alterar{
    display: flex;
    justify-content: space-around;
    opacity: 1;
    pointer-events: all;
    transition: 0.6s;
    margin-top: -30px;

}

#id_tarefa{
    display: none;
}